# Compiled class files
*.class

# Maven folder
target/

# Gradle folders
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code folder
.vscode/
